
.logo {
    /* 縦横比を維持したままサイズを自動fitさせる */
    object-fit: contain;
}
.top {
    display: flex;
    justify-content: left;
}

.navi {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 250px;
    width: 500px;
    font-size: 21px;
}
.navi_about {
    margin-right: 50px;
    text-decoration: none;
}
.navi_about, navi_about:hover, navi_about:visited {
    color: inherit;
}
.navi_course {
    margin-right: 50px;
    text-decoration: none;
}
.navi_course, navi_course:hover, navi_course:visited {
    color: inherit;
}
.navi_news {
    margin-right: 50px;
    text-decoration: none;
}
.navi_news, navi_news:hover, navi_news:visited {
    color: inherit;
}
.navi_access {
    margin-right: 50px;
    text-decoration: none;
}
.navi_access, navi_access:hover, navi_access:visited {
    color: inherit;
}
.navi_contact {
    margin-right: 50px;
    text-decoration: none;
}
.navi_contact, navi_contact:hover, navi_contact:visited {
    color: inherit;
}

.image-container {
    position: relative;
    width: 100%; /* 画像の幅に合わせて調整してください */
    height: 500px; /* 画像の高さに合わせて調整してください */
    background-image: url("../img/mainbg.png"); /* 画像のURLを指定 */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2s ease-out forwards;
  }
  
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  .text-overlay {
    color: white; /* テキストの色 */
    text-align: center;
    line-height: 1.4; /* ラインの高さ */
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* センター調整 */
  }
  
  .text-line1 {
    margin: 15px 0; /* 2行の間に30pxの間隔を作成 */
    font-size: 40px; /* テキストのサイズを40pxに設定 */
    font-weight: bold; /* 最初の行だけ太文字にする */
    text-shadow: 1px 2px 3px #808080;　
  }
  .text-line2 {
    margin: 15px 0; /* 2行の間に30pxの間隔を作成 */
    font-size: 40px; /* テキストのサイズを40pxに設定 */
  }

h2 {text-align: center;
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 30px;}
h3 {text-align: center;
    font-size: 18px;
    margin-bottom: 60px;}
h4 {text-align: center;}
p {text-align: center;
    font-size: 16px;}


#about {
    color: #ffd61a;
    margin-bottom: 30px;
}
.about_sub {
    margin-bottom: 60px;
}
.about_sub2 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.about_sub3 {
    margin-bottom: 80px;
}

.resizeimage {
    width: 100%;  
}
.aboutimage {
    object-fit: cover;
    width: 100%;
   
}
#course {
    margin-top: 60px;
    margin-bottom: 30px;
}
.course_sub {
    margin-bottom: 60px;
}
.course1 {
    display: flex;
    justify-content: left;
}
.courseimage1 {
    width: 50%;
}
.image1 {
    object-fit: cover;
    width: 100%;
}
.coursecard1 {
    display: table;
    padding-left: 50px;
    width: 480px;
}
.coursecard1_content {
    display: table-cell;
    vertical-align: middle;
}
.course1h {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 40px;
}
.course2 {
    display: flex;
    justify-content: right;
}
.courseimage2 {
    width: 50%;
}
.image2 {
    object-fit: cover;
    width: 100%;
}
.coursecard2 {
    padding-right: 50px;
    object-fit: cover;
    width: 480px;
    display: table;
}
.coursecard2_content {
    display: table-cell;
    vertical-align: middle;
    width: 480px;
}
.course2h {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 40px;
}
.course3 {
    display: flex;
    justify-content: left;
}
.courseimage3 {
    width: 50%;
}
.image3 {
    object-fit: cover;
    width: 100%;
}
.coursecard3 {
    padding-left: 50px;
    display: table;
    width: 480px;
}
.coursecard3_content {
    display: table-cell;
    vertical-align: middle;
}
.course3h {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 40px;
}

#news {
    color: #ffd61a;
    margin-top: 60px;
    margin-bottom: 30px;
	-webkit-animation:blink 0.5s ease-in-out infinite alternate;
    -moz-animation:blink 0.5s ease-in-out infinite alternate;
    animation:blink 0.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}



.news_sub {
    margin-bottom: 60px;
}

.field {
    display: flex;
    justify-content: center;
}
.news1 {
    margin-right: 30px;
    margin-bottom: 60px;
    transition: all 0.3s ease 0s;
}
.news1:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}
.news2 {
    margin-right: 30px;
    margin-bottom: 60px;
    transition: all 0.3s ease 0s;
}
.news2:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}
.news3 {
    margin-bottom: 60px;
    transition: all 0.3s ease 0s;
}

.news3:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}
.news_sub2 {
    text-align: left;
}
.news_sub3 {
    text-align: left;
}
.news_sub4 {
    text-align: left;
}

.newscard1 {
    width: 300px;
    margin-top: 30px;
}
.newscard2 {
    width: 300px;
    margin-top: 30px;
}
.newscard3 {
    width: 300px;
    margin-top: 30px;
}
.more {
    margin:auto;
    width: 300px;
    height: 60px;
    background-color: #ffd61a;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    border: 2px solid #ffd61a;
    color: white;
    /* ↓動きを滑らかにする */
    transition: all 0.3s ease 0s;
}
.more:hover {
    /* 色反転ホバー */
    background-color: white;
    color: #ffd61a;
}

.access_all {
    background-color: #fafafa;
    padding-top: 60px;
    margin-top: 60px;
    padding-bottom: 60px;
}
#access {
    margin-top: 0px;;
}

.info {
    margin: auto;
    height: 230px;
    margin-top: 60px;
    width: 600px;
    padding-left: 70px;
}
.left {
    /* ↓左列の幅を固定 */
    width: 150px;
}

#contact {
    margin-top: 60px;
    margin-bottom: 30px;
}
.contact_sub {
    margin-bottom: 60px;
}
.contact_sub3 {
    margin-top: 30px;
    margin-bottom: 70px;
}

.form {
margin: auto;
padding-left: 250px;
}

.form, .form th, .form td {
    border-bottom: solid 1px #bfbfbf;
    border-top: solid 1px #bfbfbf;
    border-collapse: collapse;
  }
  .input {
    border-left: solid 1px #bfbfbf;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 400px;
  }

.title {
    width: 240px;
    padding-left: 16px;
    padding-right: 64px;
}
.input_name {
    width: 328px;
    height: 20px;
}
.input_kana {
    width: 328px;
    height: 20px;
}
.input_mail {
    width: 328px;
    height: 20px;
}
.select_kikkake {
    width: 328px;
    height: 20px;
}
.input_detail {
    width: 328px;
    height: 80px;
}
.input_kigyo {
    margin-bottom: 24px;
}
.input_jobchange {
    margin-bottom: 24px;
}
.input_job {
    margin-bottom: 24px;
}

.send {
    margin:auto;
    width: 300px;
    height: 60px;
    background-color: #ffd61a;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    border-bottom: 5px solid #ffab1a;
    color: white;
    transition: all 0.3s ease 0s;
    margin-bottom: 140px;
    margin-top: 30px;
    border-radius: 30px;
}
.send:hover {
    border-bottom-color: transparent;
    transform: translateY(5px);
}
.copyright {
    margin:auto;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #707070;
    display: flex;
    justify-content: center;
    position: relative;
}
.copyright_content {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
}

/* ↓トップに戻るボタン */
html {
    scroll-behavior: smooth;
}
.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #;
    border: solid 2px #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow {
    height: 10px;
    width: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    transform: translateY(20%) rotate(-45deg);
}